altgraph==0.17.5 ; python_full_version >= "3.12.2" and python_version < "3.13"
esper==2.5 ; python_full_version >= "3.12.2" and python_version < "3.13"
macholib==1.16.4 ; python_full_version >= "3.12.2" and python_version < "3.13" and sys_platform == "darwin"
packaging==26.3 ; python_full_version >= "3.12.2" and python_version < "3.13"
pefile==2024.8.26 ; python_full_version >= "3.12.2" and python_version < "3.13" and sys_platform == "win32"
pygame-ce==2.5.8 ; python_full_version >= "3.12.2" and python_version < "3.13"
pygbag==0.9.3 ; python_full_version >= "3.12.2" and python_version < "3.13"
pyinstaller-hooks-contrib==2026.8 ; python_full_version >= "3.12.2" and python_version < "3.13"
pyinstaller==6.22.3 ; python_full_version >= "3.12.2" and python_version < "3.13"
pywin32-ctypes==0.2.3 ; python_full_version >= "3.12.2" and python_version < "3.13" and sys_platform == "win32"
setuptools==84.0.0 ; python_full_version >= "3.12.2" and python_version < "3.13"
